@*
    <div class="card border-dark">
        <div class="card-header bg-light">
            <div class="d-flex justify-content-between">
                <h5>
                    <span class="fa fa-bell"></span>
                    Aktywności
                </h5>
                <div>
                    <a href="#" class="mr-1">Pokaż wszytskie</a>
                    <span class="fa fa-info-circle mr-1"></span>
                    <span class="fa fa-refresh"></span>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between p-2">
                    <div class="clearfix">
                        <img src="~/images/s1.svg" height="50" width="50" />
                            <p class="pull-right ml-2">Message 1.</p>
                    </div>
                    <div>
                        <p class="text-right" style="margin:0;">10:22:30</p>
                        <p class="text-right" style="margin:0;">02/05/2018</p>
                    </div>
                </li>
                <li class="d-flex justify-content-between p-2">
                    <div class="clearfix">
                        <img src="~/images/s1.svg" height="50" width="50" />
                        <p class="pull-right ml-2">Message 2.</p>
                    </div>
                    <div>
                        <p class="text-right" style="margin:0;">10:22:30</p>
                        <p class="text-right" style="margin:0;">02/05/2018</p>
                    </div>
                </li>
                <li class="d-flex justify-content-between p-2">
                    <div class="clearfix">
                        <img src="~/images/s1.svg" height="50" width="50" />
                        <p class="pull-right ml-2">Message 3.</p>
                    </div>
                    <div>
                        <p class="text-right" style="margin:0;">10:22:30</p>
                        <p class="text-right" style="margin:0;">02/05/2018</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
*@
