<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuctionApp</title>
    <script src="~/dist/presentationSass.bundle.js"></script>
</head>
<body>
    <style>
        body{
            font-size: 16px;
        }
        #LogoLink{
            font-size: 2em;
        }
        #SearchForm{
            width: 75%;
            margin-left: 12.5%;
        }
        #NavList{
            font-size: 1.2em;
        }
        #BtnCard{
            min-width: 100px;
        }
    </style>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a id="LogoLink" class="navbar-brand align-self-start mt-3 ml-auto" asp-controller="Home" asp-action="Index">Home page</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#NavbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div id="NavbarMenu" class="collapse navbar-collapse">
                <div class="pt-4 flex-column ml-auto">
                    <form id="SearchForm" class="navbar-form">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Search:</span>
                            </div>
                            <input class="form-control" placeholder="search"/>
                        </div>
                    </form>
                    <ul id="NavList" class="navbar-nav mt-2">
                        <li class="nav-item"><a class="nav-link" href="#">Home page</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Offers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">How to offer</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    </ul>
                </div>
                <div class="flex-column ml-auto">
                    <ul class="navbar-nav mt-1">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center mt-2">
                        <button id="BtnCard" class="btn btn-default">Card</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Auctions</p>
        </footer>
    </div>

    <script src="~/dist/presentationJs.bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
