<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuctionApp</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a id="Logo" class="navbar-brand" asp-controller="Home" asp-action="Index">Auction application</a>
                <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#NavbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="NavbarMenu" class="collapse navbar-collapse">
                    <div class="d-flex ml-auto flex-column">
                        <ul id="RegAndLog" class="navbar-nav">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">Logowanie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Register">Rejstracja</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="pull-left mt-2 text-white h6">Zalogowany:</span>
                                    <a class="nav-link pull-right">
                                        @User.Identity.Name
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Manage" asp-action="Index" asp-area="customer">Moje konto</a>
                                </li>
                                <li class="nav-item">
                                    <form asp-controller="Account" asp-action="LogOut">
                                        <button type="submit" class="btn btn-dark">
                                            <span class="fa fa-sign-out"></span>
                                        </button>
                                    </form>
                                </li>
                            }
                        </ul>
                        <form id="SearchForm" class="navbar-form mb-1 align-self-lg-end" asp-controller="Item" asp-action="Search">
                            <div class="input-group-sm">
                                <input name="phrase" type="search" class="form-control" placeholder="Search" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="d-sm-block d-lg-flex justify-content-between pt-2 pb-2 bg-dark">
                <nav id="MainNav" class="nav nav-justified flex-column flex-lg-row d-flex d-lg-inline-flex ml-3">
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link"
                       asp-controller="Home" asp-action="Index">Strona główna</a>
                    <a id="AuctionLink" class="flex-fill flex-lg-grow-0 nav-item nav-link"
                       asp-controller="Item" asp-action="Index">Dostępne przedmioty</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link"
                       asp-controller="Home" asp-action="HowToOffer">Jak licytowac?</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link"
                       asp-controller="Home" asp-action="Contact">Kontakt</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link"
                       asp-controller="Home" asp-action="About">O nas</a>
                </nav>
                <div id="Cart" class="flex-lg-row d-lg-inline-flex justify-content-center d-flex ml-3 ml-lg-0 mr-3">
                    <a role="button" class="btn btn-dark d-block w-100" asp-controller="Cart" asp-action="Index">
                        <span class="fa fa-shopping-basket"></span>
                        <span>@await Component.InvokeAsync("TotalCost")</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main class="body-content">
            @RenderBody()
        </main>
        <hr />
        <footer class="d-flex justify-content-between">
            <a asp-controller="Home" asp-action="Index">Auction web application.</a>
            <div class="d-flex justify-content-between">
                <a class="mr-5" asp-controller="Home" asp-action="Contact">Kontakt</a>
                <p>&copy; 2018 - Mateusz Turek</p>
            </div>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/dist/sassForLayout.bundle.js"></script>
        <script src="~/dist/tsHome.bundle.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
