<ul id="RegAndLog" class="navbar-nav justify-content-end">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Logowanie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Rejstracja</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <span class="pull-left mt-2 text-white h6">Zalogowany:</span>
            <a class="nav-link pull-right">
                @User.Identity.Name
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-area="customer">Moje konto</a>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="LogOut">
                <button type="submit" class="btn btn-dark">
                    <span class="fa fa-sign-out"></span>
                </button>
            </form>
        </li>
    }
</ul>