
<form id="SearchForm" class="navbar-form mb-1 align-self-lg-end" asp-controller="Item" asp-action="Search" method="get">
    <div class="input-group-sm">
        <input name="phrase" type="search" class="form-control" placeholder="Search" />
    </div>
</form>