
@{
    ViewData["Title"] = "Help";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

<div id="Help" class="text-justify container">
    <h2>Pomoc</h2>

    <h3>Wygrana aukcji.</h3>
    <p>Morbi condimentum, metus id faucibus efficitur, justo neque dictum ipsum, ac consectetur tortor augue in lacus. Sed sodales rutrum lacinia. Aenean imperdiet at diam sit amet dignissim. Donec facilisis augue quis ipsum pulvinar, vel dictum nisl ullamcorper. Sed gravida libero eget bibendum semper. Nulla convallis tortor at mauris convallis varius. Pellentesque tempus dolor dui, a semper libero fermentum sed. Integer nec dui id lacus consequat semper in sed massa. Morbi dignissim massa aliquam aliquam ultrices. Fusce ac sollicitudin justo. Donec tortor ex, ullamcorper id accumsan non, eleifend eu elit. Nullam fermentum, metus at sodales euismod, nunc neque laoreet sem, at rutrum eros purus sit amet orci. Cras cursus dapibus erat et congue. In ac metus nunc. </p>

    <h3>Ktoś wylicytował mój przedmiot.</h3>
    <p>
        Donec vel mauris odio. Aliquam facilisis nec metus ut luctus. Mauris nec fringilla mi. Ut convallis, quam a fringilla pretium, nisi lectus interdum elit, a pharetra sem quam ac velit. Duis varius lacus congue lobortis vestibulum. Aliquam massa purus, cursus et ex a, commodo pharetra neque. Vestibulum sodales posuere volutpat.
    </p>

    <h3>Anulowanie licytacji.</h3>
    <p>Phasellus sed commodo eros. Praesent commodo libero id dui malesuada, vitae efficitur tellus aliquam. Suspendisse vel nulla hendrerit, pretium ex sed, accumsan libero. Nam iaculis, ipsum at sagittis eleifend, elit quam semper risus, quis vulputate eros felis eget elit. Vivamus accumsan sit amet ligula non ultrices.</p>

    <h3>Funkcja kup teraz.</h3>
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam sed dui quam. Fusce eget nulla in velit condimentum blandit. Ut ut mattis diam.</p>
</div> 