
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

<div class="mt-2">
    @await Component.InvokeAsync("NewItem")
    <div class="row">
        <div class="col-lg-3 mb-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewItemModal">Nowy przedmiot</button>
        </div>
    </div>
    <div id="CustomerSummary" class="row">
        @Html.Partial("_SummaryPartial")
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            @await Component.InvokeAsync("BidsOfCustomerItems")
        </div>

        <div id="MyBestBids" class="col-lg-6">
            @await Component.InvokeAsync("MyBestBids")
        </div>
    </div>
    <div id="CustomerInfo" class="row mt-2">
        <div class="col-lg-6">
            @await Component.InvokeAsync("CustomerInfo")
        </div>

        <div class="col-lg-5">
            @await Component.InvokeAsync("Activities")
        </div>
    </div>
</div>