
<div class="btn-group ml-2" role="group">
    <button class="btn btn-outline-primary">Word</button>
    <button class="btn btn-outline-primary">CSV</button>
    <button class="btn btn-outline-primary">PDF</button>
</div>