<div id="FilterBar" class="btn-toolbar justify-content-end pt-2 pb-2" role="toolbar">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text fa fa-search pt-2"></span>
        </div>
        <input class="form-control" type="search" placeholder="search..." />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Order by:</span>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button">Name</button>
            <button class="btn btn-outline-secondary" type="button">Date</button>
            <button class="btn btn-outline-secondary" type="button">Price</button>
        </div>
    </div>
</div>
