<ul id="Categories" class="nav nav-pills flex-column">
    <li class="nav-item active">
        <a class="nav-link active" href="#">Category 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category 4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category 5</a>
    </li>
</ul>