
<div class="d-flex justify-content-end">
    <div class="d-inline-block mr-1">
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text">Search:</span>
            </div>
            <input type="search" class="form-control search-items-input" placeholder="Item name..." value="" />
        </div>
    </div>
    <div>
        <select class="form-control">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
</div>