
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4>Auctions:</h4>
        <ul id="AuctionTabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="WaitingTab" data-toggle="tab" href="#WaitingContent" class="nav-link active" role="tab">Waiting</a>
            </li>
            <li class="nav-item">
                <a id="ActiveTab" data-toggle="tab" href="#ActiveContent" class="nav-link" role="tab">Active</a>
            </li>
            <li class="nav-item">
                <a id="EndedTab" data-toggle="tab" href="#EndedContent" class="nav-link" role="tab">Ended</a>
            </li>
        </ul>
        <div id="AuctionTabContent" class="tab-content">
            <div id="WaitingContent" class="tab-pane fade show active" role="tabpanel">
                <!-- reapeat -->
                <div class="btn-group d-flex justify-content-end mt-1 mb-1" role="group">
                    <button class="btn btn-outline-primary">Name</button>
                    <button class="btn btn-outline-primary">Price</button>
                    <button class="btn btn-outline-primary">Auction end date</button>
                </div>
                <table class="table">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Zdjęcie</th>
                            <th>Nazwa</th>
                            <th>Kategoria</th>
                            <th>Cena: Kup teraz</th>
                            <th>Koniec aukcji</th>
                            <th>Metoda płatności</th>
                            <th>Wystaw do zakupu</th>
                            <th>Usuń przedmiot</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <img src="~/images/s1.svg" style="width: 80px; height: 70px;" />
                            </td>
                            <td>
                                <a href="#">Name 1</a>
                            </td>
                            <td>
                                <a href="#">Category 1</a>
                            </td>
                            <td>2030 pln</td>
                            <td>2018-10-12</td>
                            <td>Przelew</td>
                            <td>
                                <button class="btn btn-success btn-sm">Aktywuj</button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">Usuń</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="ActiveContent" class="tab-pane fade" role="tabpanel">
                <!-- reapeat -->
                <div class="btn-group d-flex justify-content-end mt-1 mb-1" role="group">
                    <button class="btn btn-outline-primary">Name</button>
                    <button class="btn btn-outline-primary">Price</button>
                    <button class="btn btn-outline-primary">Auction end date</button>
                </div>
                <table class="table">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Zdjęcie</th>
                            <th>Nazwa</th>
                            <th>Cena: Kup teraz</th>
                            <th>Koniec aukcji</th>
                            <th>Metoda płatności</th>
                            <th>Sprawdz stan</th>
                            <th>Wycofaj przemiot</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <img src="~/images/s1.svg" style="width: 80px; height: 70px;" />
                            </td>
                            <td>
                                <a href="#">Name 1</a>
                            </td>
                            <td>2030 pln</td>
                            <td>2018-10-12</td>
                            <td>Przelew</td>
                            <td>
                                <button class="btn btn-info btn-sm">Sprawdź</button>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm">Anuluj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="EndedContent" class="tab-pane fade" role="tabpanel">
                <!-- reapeat -->
                <div class="btn-group d-flex justify-content-end mt-1 mb-1" role="group">
                    <button class="btn btn-outline-primary">Name</button>
                    <button class="btn btn-outline-primary">Price</button>
                    <button class="btn btn-outline-primary">Auction end date</button>
                </div>
                <table class="table">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Zdjęcie</th>
                            <th>Nazwa</th>
                            <th>Cena: Kup teraz</th>
                            <th>Koniec aukcji</th>
                            <th>Metoda płatności</th>
                            <th>Koszt dostawy</th>
                            <th>Kupujący</th>
                            <th>Cena zakupu</th>
                            <th>Całkowity koszt</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <img src="~/images/s1.svg" style="width: 80px; height: 70px;" />
                            </td>
                            <td>
                                <a href="#">Name 1</a>
                            </td>
                            <td>1700 pln</td>
                            <td>2018-10-12</td>
                            <td>Przelew</td>
                            <td>120 pln</td>
                            <td>buyer 1</td>
                            <td>2000 pln</td>
                            <td>2120 pln</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>