
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    table img {
        width: 80px;
        height: 70px;
    }
    .no-items {
        font-size: 20px;
        text-align: center;
        padding: 10% 0 10% 0;
    }

    #NavTabs li {
        margin-right: 2px;
    }

    #NavTabs li a.nav-link:not(.active) {
        background: rgba(128, 128, 128, 0.40);
        color: #5e5c5c;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <ul id="NavTabs" data-status="1" class="nav nav-tabs d-inline-flex" role="tablist">
            <li class="nav-item">
                <a id="WaitingTab" data-status="1" data-toggle="tab" href="#WaitingContent" class="nav-link active" role="tab">Poczekalnia</a>
            </li>
            <li class="nav-item">
                <a id="ActiveTab" data-status="2" data-toggle="tab" href="#ActiveContent" class="nav-link" role="tab">Aukcje</a>
            </li>
            <li class="nav-item">
                <a id="EndedTab" data-status="3" data-toggle="tab" href="#EndedContent" class="nav-link" role="tab">Sprzedane</a>
            </li>
        </ul>
        <div id="AuctionTabContent" class="tab-content mt-2">
            <div id="WaitingContent" class="tab-pane fade show active" role="tabpanel">
                @Html.Partial("_WaitingItemsPartial")
            </div>

            <div id="ActiveContent" class="tab-pane fade" role="tabpanel">
                @Html.Partial("_InAuctionItemsPartial")
            </div>

            <div id="EndedContent" class="tab-pane fade" role="tabpanel">
                @Html.Partial("_BoughtItemsPartial")
            </div>
        </div>
    </div>
</div>