<div class="col-12">
    <h3>Latest:</h3>
</div>

<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>

<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="~/images/s1.svg" style="height:200px; width: 100%;" />
        <div class="card-body">
            <h4>Title</h4>
            <p>Desc 1</p>
        </div>
        <div class="card-footer">
            <span class="small">Added: 2 days ago</span>
        </div>
    </div>
</div>