@{
    ViewData["Title"] = "About";
}

<div id="About" class="col-12 bg-info text-white pt-3 pb-3">
    <div class="col-8 offset-2">
        <h2>O nas</h2>
        <p>Donec faucibus egestas arcu, vitae malesuada felis pretium eget. Nam sed consequat justo. Morbi felis mauris, malesuada non mollis ac, suscipit non purus. Vivamus vel felis non felis convallis euismod. Etiam iaculis posuere dui, quis feugiat leo tempus at. Etiam rutrum eu libero vel rutrum. Ut fermentum lobortis justo, eu imperdiet eros volutpat eget. Sed nec sem ut urna lobortis lobortis. Proin quis nunc id est dapibus elementum id eu augue. Ut posuere mollis turpis eget interdum. Proin a nulla rutrum, elementum felis a, fringilla metus. Sed iaculis lacus lectus, at vestibulum augue vulputate sed. Sed vulputate, neque vel tincidunt convallis, nunc tortor viverra orci, fermentum hendrerit dui nunc at ipsum.</p>
    </div>
</div>