@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Contact" class="col-12 pt-4 pb-4">
    <div class="col-8 offset-2 text-center">
        <h2>Kontakt</h2>

        <address>
            Fake fima.<br />
            Kraków, ul. fake 20<br />
            <abbr title="Phone">Telefon:</abbr>
            888.000.111
        </address>

        <address>
            <strong>Wsparcie:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>