
@{
    ViewData["Title"] = "HowToOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="HowToBid" class="col-12 bg-info text-white pt-3 pb-3">
    <div class="col-8 offset-2">
        <h2>Jak licytowac?</h2>
        <p>Nulla lobortis nulla vel ex feugiat tristique. Mauris pretium efficitur euismod. Aliquam tortor erat, ullamcorper vitae vestibulum a, luctus quis augue. Quisque euismod vulputate nulla in dictum. Donec dignissim nisi quis elit consectetur aliquam. Pellentesque dapibus pellentesque libero, ut elementum odio volutpat sit amet. Praesent eu justo metus. </p>
        <p>Duis ornare massa vitae dolor tincidunt, at pharetra dui cursus. Nullam vehicula felis sed elit porta, vel accumsan ligula consequat. Vivamus et sollicitudin lectus, ut pulvinar erat. Donec rhoncus lectus neque, id blandit arcu cursus at. Duis gravida lorem dignissim ligula molestie, quis sodales nulla sagittis.</p>
        <p>Nam ut lectus nisi. Vestibulum aliquet ipsum vel aliquet dictum. Suspendisse ultricies ut lectus non tincidunt. Maecenas commodo, quam eu pretium dapibus, magna mi feugiat est, at efficitur magna diam vitae quam. Aliquam erat volutpat. Duis vitae leo ac odio posuere finibus sit amet eu quam. Donec in nisi felis. </p>
    </div>
</div>