
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

<h4>Moje oferty.</h4>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>Zdjęcie</th>
            <th>Przedmiot</th>
            <th>Cena: Kup teraz</th>
            <th>Metoda płatności</th>
            <th>Koszt dostawy</th>
            <th>Moja oferta</th> 
            <th>Oferte dodano</th>
            <th>Stan oferty</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <!-- render here -->
    </tbody>
</table>