
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <h2>Koszyk</h2>
            <button class="btn btn-sm btn-danger">Wyczyść koszyk</button>
        </div>
    </div>
    <div class="col-12">
        <table class="table">
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>
</div>