@import "_settings.scss";

* {
    box-sizing: border-box;
}

body {
    font-family:  $fontFamily;
    font-size: $fontBasicSize * 1.5;
    letter-spacing: $letterSpacing;
}

#Logo{
    font-size: $fontBasicSize * 3;
}

header {
    #RegAndLog.navbar-nav a {
        color: white;
        font-size: $fontBasicSize * 1.2;
    }

    #RegAndLog a {
        padding: 10px 0 10px 10px;
    }

    #SearchForm {
        width: 300px;
    }

    nav.nav > a {
        color: white;
    }

    nav.nav .active {
        background: rgba(34, 34, 34, .8);
        border: #222;
    }
}

.logo,
footer,
footer a{
    color: whitesmoke;
}

.logo:hover,
footer a:hover {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
}

.logo {
    font-size: $fontBasicSize * 2;
}

.logo:hover {
    color: rgba(245, 245, 245, 0.80);
    text-decoration: none;
}