
@import 'common.scss';

#MainCarousel img {
    height: 500px;
}

main {
    background: whitesmoke;

    .card {
        overflow: hidden;
    }

    .card img:hover {
        position: relative;
        transform: scale(1.1);
    }

    .card h5 > a {
        color: black;
    }

    .card h5 > a:hover {
        color: rgba(0, 0, 0, 0.70);
        text-decoration: none;
    }

    #HowToBid,
    #About,
    #Contact {
        font-size: $fontBasicSize*1.5;
        letter-spacing: 1px;
        text-align: justify;
        line-height: 30px;
    }

    #Contact a {
        font-weight: bold;
        color: black;
    }

    #Item {
        background: whitesmoke;
    }

    #SearchResult {
        .price {
            font-size: $fontBasicSize * 1.8;
        }
    }

    #SearchResult a:hover {
        color: rgba(34, 34, 34, 0.70);
        text-decoration: none;
    }
}

#Cart {
    .empty-cart {
        font-size: 22px;
    }

    .price {
        font-size: 18px;
    }

    img {
        height: 120px;
    }

    dl {
        text-align: justify;
        width: 250px;
    }

    dt {
        width: 40%;
    }

    dd {
        width: 60%;
    }

    dt, dd {
        margin: 0;
        float: left;
    }
    .link-item:hover{
        color: rgba(34, 34, 34, 0.70);
        text-decoration: none;
    }
}

#Item {
    font-size: 18px;

    img {
        height: 400px;
    }

    .auction-info {
        letter-spacing: 1px;
    }
}